<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.trueforge.symphony</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>exec /bin/zsh ./scripts/symphony start</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/yuyoshimuta/dev/TrueForgeHackathon</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/Users/yuyoshimuta/.local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>ThrottleInterval</key>
  <integer>30</integer>

  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardOutPath</key>
  <string>/Users/yuyoshimuta/dev/TrueForgeHackathon/.symphony/launchd.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/yuyoshimuta/dev/TrueForgeHackathon/.symphony/launchd.stderr.log</string>
</dict>
</plist>
